*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
p{
    margin-bottom: 3rem;
}
a {
    text-decoration: none   ;
}
.respansive-table{
    overflow: hidden;
    overflow-x: auto;
}
table{
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}
table caption{
    font: italic;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: left;
}
table, th, td{
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid rgb(218, 215, 215);
}
tfoot td, table th{
    background-color: rgb(218, 215, 215);
}
:root{
    --gab:3rem;
    --colorwhite: white
}


.main-bg{
    background-image: url('main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}
.white-bg{
    background:var(--colorwhite); 
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gab);
}
.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 6.5rem;
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}


.menu{
    background: var(--colorwhite);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
    
}
.menu-content {
    max-width: 120rem;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem; 
}
.menu h1 {
    font-size: inherit;
}
.menu h1 a{
    font-size: 2.3rem;
    color: black;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    color: inherit;
    font-size: 1.7rem;
    padding: 2rem;
    position: relative;
}
.menu ul li a::after{
    content: ' ';
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: rgb(118, 5, 156);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 65%;
    left: 18%;
}


.intro-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gab);
    min-height: 100vh;
}

.intro-text, .intro-img{
    display: flex;
    flex-flow:column wrap ;
    justify-content: center;
}

.intro-text h1{
    font-size: 5rem;
    margin-bottom: 4rem;
}

.intro-img img{
    width: 100%;
    height: auto;

}


.top3-content{
    padding-top: 6rem;
    max-width: 64rem;
    min-height: 100vh;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    text-align: center;
}

.grid-one-content{
    min-height: 100vh;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
}

.grid-main-heading{
    padding-top: 6rem;
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: var(--gab);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 4rem;
    padding-bottom: 2rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter) ;
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
}


.gallery-img{
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2)rotate(5deg);
}


.contact-form{
    grid-column: span 2;
}

.contact-text, .contact-img{
    padding-top: 6rem;
    display: flex;
    flex-flow:column wrap ;
    justify-content: center;
}

.contact-img img{
    width: 100%;
    height: auto;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gab);   
}

.form-grid legend{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.form-group{
    flex: 1 1 320px;
}

.form-group label{
    display: block;
}

.form-group input ,.form-group textarea{
    width: 100%;
    padding: 1.5rem 2rem;
    font-size: 3rem;
}

.form-group button{
   background: none;
   border: 0.7rem solid white;
   color: white;
   padding: 1.5rem 2rem;
   font-size: 3rem;
   cursor: pointer;
   transition: all 300ms ease-in-out ;
}

.form-group button:hover{
   background: white;
   color: #333;
}

.close-menu{
    display: none;
}


@media (max-width: 800px){
    .intro-content, .grid {
        grid-template-columns: 2fr;
    }
    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img{
        width: 100%;
    }
    .grid-one-content{
        display: block;
    }
    .contact-img{
        display: none;
    }
    .intro-text, .intro-img{
        padding-top: 6rem;
    }

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after{
        display: flex;
        background-color: #333;
        color: white;
        content: "☰";
        position: fixed;
        z-index: 2;
        top: 1.5rem;
        right: 1.5rem ;
        font-size: 3rem;
        line-height: 4rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        justify-content: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 50%;
    }

    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        display: block;
        content: "✕";
    }
    .menu-spacing{
        display: none;
    }
}
